.create-genre {
  width: 50%;
  margin: 10% auto;
  min-width: 9rem;
}
  
.create-genre-input {
  float: left;
  width: 100%;
  max-width: 100%;
  /* border: none; */
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 50%);
    
  &[type=submit] {
    background: #84AD47;
    color: #fff;
    width: auto;
    float: right;
  }
}

  input[name=question] {
    width: 4rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: right;
    padding-right: 0;
  }

div.flex-show{
  display: flex;
  width: 100%;
  margin-top: 30px;
}
.description-show {
  width: 55%;
}

.img-show{
  /* height: 350px;
  width: 300px; */
  margin-right: 30px;
  width :45%;
  height: 500px
}
.description-show-h2{
  margin-left: 30px;
  font-size: 40px;
}

.description-edit-a{
  font-size: 35px;
  margin-left: 350px;
  margin-top: 10px;
}
.description-button{
  font-size: 35px;
  margin-left: 200px;
  margin-top: 10px;
}

.edit-genre-h2{
  font-size: 50px;
}